.row-color-aqua{
    background-color: aqua;
}
.bg-black{
    background-color: black;
}
.line{
    width: 100px;
    height: 2px;
    background-color: black;
}
.img-size{
    width:200px;
    height: 200px;
}